@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>
<div class="container p-3">
    <div class="row pt-4">
        <h2 class="text-primary">Category List</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-primary mt-2 mb-2" asp-controller="Category" asp-action="Create">Create a categories</a>
    </div>
    
<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <th>Category Name</th>
        <th>Display Order</th>
        <th>Modify</th>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
        <tr>
        <td>@obj.Name</td>
        <td>@obj.DisplayOrder</td>
        <td>
        <a class="btn btn-primary mt-2 mb-2" asp-controller="Category" asp-action="GetDetails" asp-route-id="@obj.Id">Get Details</a>
        <a class="btn btn-primary mt-2 mb-2" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
        <a class="btn btn-danger mt-2 mb-2" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
        </td>
        </tr>
            
        }
    </tbody>
</table>
</div>

